**/crash.log
**/terraform.tf
**/provider.tf
**/.terragrunt-cache
**/.terraform
**/terraform.tfstate*
*.terraform

#IDE metadata
**.idea/**
.vscode
.DS_STORE

.env

report
terraform/states
terraform/plugins_cache
terraform/terragrunt_cache
terraform/secrets
